{% extends 'lmn/base.html' %}
{% block content %}

<!--Add user's profile form/feilds with edit link that toggles the current info with the fields -->



<!-- A user's profile page.

Includes list of user's notes with title and preview of text.
Text truncated to 200 characters. -->


<h1 id='username'>{{ user.username }}</h1>

<div class='uprofile' id="uprofile_{{ uprofile.pk }}">
	{%if user.uprofile.photo %}
		<img src="{{ user.uprofile.photo.url }}">
	{% endif %}
	<p class="user_name">Name: {{user.first_name}}</p>
	<p class="user_email">Email: <a href="mailto:{{uprofile.user.email}}">{{user.email}}</a></p>
	{%if user.uprofile.birthday %}
		<p class="uprofile_birthday">Birthday: {{user.uprofile.birthday}}</p>
	{% endif %}
	{%if user.uprofile.city %}
		<p class="uprofile_city">City: {{user.uprofile.city}}</p>
	{% endif %}
	{%if user.uprofile.state %}
		<p class="uprofile_state">State: {{user.uprofile.state}}</p>
	{% endif %}
	{%if user.uprofile.favoriteVenue %}
		<p class="uprofile_favoriteVenue">Favorite Venue: {{user.uprofile.favoriteVenue}}</p>
	{% endif %}
	{%if user.uprofile.favoriteArtist %}
		<p class="uprofile_favoriteArtist">Favorite Artist: {{user.uprofile.favoriteArtist}}</p>
	{% endif %}
	{%if user.uprofile.description %}
		<p class="uprofile_description">About Me: {{user.uprofile.description}}</p>
	{% endif %}

</div>



<h2 id='username_notes'>{{ user.username }}'s notes</h2>
{% for note in notes %}

<div class='note' id="note_{{ note.pk }}">
  <h3 class="note_title"><a href="{% url 'lmn:note_detail' note_pk=note.pk %}">{{ note.title }}</a></h3>
  <P class="note_info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</P>
  <p class="note_text">{{ note.text|truncatechars:300}}</p>
  <p class="note_posted_at">{{ note.posted_date}}</p>
</div>

{% empty %}

    <p id='no_records'>No notes.</p>

{% endfor %}


{% endblock %}